<!DOCTYPE html>
<html>
<head>
	<title>Pagina Principal</title>
    <!-- load CSS -->
	<link rel="stylesheet" type="text/css" href="http://p1.mm/assets/css/libs/jquery.dynatable.css">
    <link rel="stylesheet" type="text/css" href="http://p1.mm/assets/css/libs/intro.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>

<body class="col-md-12" style="background-color: #F6CED8">
    <!-- load Body -->
    [Body]
    
    <header class="col-md-12" style="background-color: #BDBDBD">{% include 'header.html' %}</header>
    <nav class="col-md-12" style="background-color: #A9F5A9">{% include 'nav_top.html' %}</nav>
    
    <nav class="col-md-1" style="background-color: #A9A9F5">{% include 'nav_left.html' %}</nav>
    <section class="col-md-11" style="background-color: #F2F2F2">
    [Section]
        
        {% block content %}

        {% endblock content %}
    </section>

    <footer class="col-md-12" style="background-color: #BDBDBD">{% include 'footer.html' %}</footer>

    <!-- load JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://p1.mm/assets/js/libs/jquery.dynatable.js"></script>
    <script src="http://p1.mm/assets/js/usuarios.js"></script>
    <script src="http://p1.mm/assets/js/libs/intro.js"></script>
</body>
</html>